:root,
.light-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.slate.900');
  --color-navigation-link-background-active: theme('colors.slate.100');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.slate.100');
  --color-navigation-menu-panel-border: theme('colors.slate.300');
  --color-navigation-menu-panel-icon: theme('colors.slate.600');
  --color-navigation-menu-link-background-hover: theme('colors.slate.200');
}

.dark-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.slate.50');
  --color-navigation-link-background-active: theme('colors.slate.800');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.slate.800');
  --color-navigation-menu-panel-border: theme('colors.slate.600');
  --color-navigation-menu-panel-icon: theme('colors.slate.300');
  --color-navigation-menu-link-background-hover: theme('colors.slate.700');
}
