:root,
.light-section {
  --input-border-color: var(--color-slate-200);
  --input-placeholder-color: var(--color-slate-600);

  --search-input-icon-color: var(--color-slate-500);
  --search-input-clear-icon-color-hover: var(--color-slate-700);
}

.dark-section {
  --input-border-color: var(--color-slate-700);
  --input-placeholder-color: var(--color-slate-400);

  --search-input-icon-color: var(--color-slate-400);
  --search-input-clear-icon-color-hover: var(--color-slate-200);
}
